.title{
    background-color: rgb(180, 233, 233);
    width: 1680px;
    height: 83px;
    border: 10px double rgb(204, 83, 83);
}
.title {
    font-size: 100px;
    text-align:center;
    line-height: 69px;
    text-shadow: 0px 3px 0px #b2a98f,

                 0px 14px 10px rgba(0,0,0,0.15),

                 0px 24px 2px rgba(0,0,0,0.1),

                 0px 34px 30px rgba(0,0,0,0.1);
}
.wrap{
    width: 960px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
.item{
    width: 100%;
    margin: 0px 10px 10px;
    border: 10px solid rebeccapurple;
}
.item img{
    width: 100%;
    vertical-align: top;
}

